<html>
<head>
    <!-- jquery 설치 완료-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
    {# 주식 데이터를 최신순으로 10개만 뿌린다 #}
    <table cellspacing="0" border='1'>
    <colgroup>
        <col width="120">
        <col width="80">
        <col width="80">
        <col width="80">
        <col width="80">
        <col width="160">
        <col width="80">
        <col width="80">
        <col width="80">
    </colgroup>
    <thead>
        <tr>
            <th>app_id</th>
            <th>ranking</th>
            <th>lastWeek</th>
            <th>gameName</th>
            <th>score</th>
            <th>googleUrl</th>
            <th>developer</th>         
            <th>genre</th>  
            <th>date</th>     
        </tr>
    </thead>
    <tbody>
        {% for row in data : %}
        {# 해결방안 -> sql에서 해결, 데이터를 받아서 가공 후 렌더링, 렌더링 시 처리 #}
        {# str() 함수를 인식하는 부분#}
        {# 데이터 타입을 문자열로 변환 : str() #}
        {# 슬라이싱 [:끝인덱스 처리] #}
        {# 순수 타입에 제공되는 함수를 활용 #}
        <tr>
            <td>{{ row['app_id'] }}</td>
            <td>{{ row['ranking'] }}</td>
            <td>{{ row['lastWeek'] }}</td>
            <td>{{ row['gameName'] }}</td>
            <td>{{ row['score'] }}</td>
            <td>{{ row['googleUrl'] }}</td>
            <td>{{ row['developer'] }}</td>            
            <td>{{ row['genre'] }}</td>            
            <td>{{ row['date'] }}</td>            
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </body>
</html>








