<!DOCTYPE html>
<html>
    <head></head>
    <body style='margin:20px'>
        <form method='post' action='/visual'>
            Rank Type : {{rankType}}
            <ul>원하는 데이터 시각화 서비스를 선택해주세요.<br>
            1 : 10순위 내 앱 기본 정보<br>
            2 : 50순위 내 앱 장르별 비율<br>
            3 : 앱 평가점수 기준 10순위 내림차순 도표<br>
            4 : 50순위 내 가격 범위별 비율<br>
            <input type='text' placeholder='1 - 4 중 택일' name='visualType_r'/><br><br>
            </ul>
            <button type="submit" name="button" > 다음 </button>
        </form>
    </body>
</html>


